{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="hero-wrap hero-wrap-2" style="background-image: url(/static/images/bg_2.jpg);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="row no-gutters d-flex slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'home' %}">Home</a></span> <span>My Money Donations</span></p>
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">My Money Donations</h1>
      </div>
    </div>
  </div>
</div>


<section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-12 ftco-animate">
                      
            <div class="row d-flex">
                


                <div class="col-md-12">
                    <div class="col-md-12 d-flex">
                       
                        <div class="col-md-12 ftco-animate">
                            <div class="cart-list">
                              <h3>My Money Donations</h3>
                                <table class="table table-bordered">
                                    <thead class="thead-primary">
                                      <tr class="text-center">
                                        <th>Profile</th>
                                        <th>Full Name</th>
                                        <th>Amount</th>
                                        <th>Transaction ID</th>
                                        <th>Date</th>
                                        <th><a href="{% url 'download_my_money_donations' %}">Downoload Records</a></th>
                                        
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% if donations %}
                                        {% for donation in donations %}
                                      <tr class="text-center">
                                        <td class="image-prod"><img src="{{donation.user.userprofile.profile_picture.url}}" alt="Avatar"  width="40" height="40" style="border-radius:50%"></div></td>
                                        <td class="price">{{donation.user.first_name}} {{donation.user.last_name}}</td>
                                        {% load humanize %}
                                        <td class="price">{{donation.amount|floatformat|intcomma}} /=</td>
                                        <td class="price">{{donation.transaction_id}}</td>
                                        <td class="price">{{donation.created_date}}</td>
                                        
    
                                      </tr><!-- END TR-->
                                      {% endfor %}
                                     
                                    </tbody>
                                    {% else %}
                                    <td style="color: red;">You have not donated <a href="{% url 'money_donation' %}">Donate Now</a></td>
                                    {% endif %}
                                  </table>
                              </div>
                        </div>
                        
                    </div>
                </div>
                

            </div>
        </div> <!-- .col-md-8 -->
      </div>
    </div>
  </section> <!-- .section -->
  

{% endblock %}