{% extends 'main.html' %}
{% load static %}
{%block content%}

<div class="hero-wrap hero-wrap-2" style="background-image: url(/static/images/bg_2.jpg);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="row no-gutters d-flex slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'home' %}">Home</a></span> <span>Login</span></p>
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Login</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section ">
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-6 ftco-animate">
            <h3 class="align-center">Login</h3>
            <div class="card">
              <div class="card-body">
           
                
                <br>
                
                <form class="signin" method="post">
                  {% csrf_token %}
                  <input type="email" name="email" value="" placeholder="E-mail" required="" class="form-control" />
                  <br>
                  <input type="password" name="password" value="" placeholder="Password" required="" class="form-control" />
                  <br>
          
                  <button type="submit" class="btn btn-primary">Login</button>
                  <a href="" data-action="Forgot-Password" class="xs-margin">Forgot Password ></a>
                  <br><br>
                  {% include 'includes/alerts.html' %}
                  <p>
                    Don't have an account? Create one now! <a href="{% url 'register' %}"> Registration > </a>
                  </p>
                  
                </form>
            
                </div>
                </div>
            </div>
          </div>
    </div>
</section>





{%endblock%}
